{
  "printWidth": 120,
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "trailingComma":"none",
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "overrides": [
    {
        "files": "*.component.html",
        "options": {
            "parser": "angular"
        }
    },
    {
        "files": "*.html",
        "options": {
            "parser": "html"
        }
    }
]
}