<div class="row align-items-center">
  <div class="col-12">
    <div class="card my-2 py-3">
      <div class="card-body px-0">
        <h1 class="card-title text-capitalize text-center">
          {{ selectedState.title ? selectedState.title : germanyTitle }}
        </h1>
        <app-timeframe-selector (timeframeSelected)="onTimeframeSelected($event)"></app-timeframe-selector>
        <div class="card-body mr-lg-5 mr-md-3 mr-sm-2 ml-lg-5 ml-md-3 ml-sm-2 mx-0 px-0">
          <div class="row mx-0">
            <div class="col-md-6 col-12">
              <app-germany-map (elementOnClick)="onClickState($event)"></app-germany-map>
            </div>
            <div class="col-md-6 col-12">
              <div class="row">
                <div class="col-md-12 col-sm-4 col-12 text-center mt-md-5 mt-3">
                  <i class="fas fa-viruses display-4 d-block"></i>
                  <span class="display-4 d-block font-medium">{{ totalCases }}</span>
                  <span>Cases</span>
                </div>
                <div class="col-md-12 col-sm-4 col-12 text-center mt-md-5 mt-3">
                  <i class="fas fa-cross display-4 d-block"></i>
                  <span class="display-4 d-block font-medium">{{ totalDeaths }}</span>
                  <span>Deaths</span>
                </div>
                <div class="col-md-12 col-sm-4 col-12 text-center mt-md-5 mt-3">
                  <i class="fas fa-hand-holding-heart display-4 d-block"></i>
                  <span class="display-4 d-block font-medium">{{ totalRecovered }}</span>
                  <span>Recovered</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="timeseriesCases.length > 0">
    <div class="card my-2 py-md-3 py-3">
      <div class="card-body px-0">
        <h2 class="card-title text-capitalize text-center">Cases</h2>
        <div class="card-body mx-lg-5 mx-md-3 mx-sm-2 px-0">
          <app-line-chart [lineChartData]="timeseriesCases"> </app-line-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="timeseriesDeaths.length > 0">
    <div class="card my-2 py-3">
      <div class="card-body px-0">
        <h2 class="card-title text-capitalize text-center">Deaths</h2>
        <div class="card-body mx-lg-5 mx-md-3 mx-sm-2 px-0">
          <app-line-chart [lineChartData]="timeseriesDeaths"> </app-line-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="timeseriesRecovered.length > 0">
    <div class="card my-1 py-3">
      <div class="card-body px-0">
        <h2 class="card-title text-capitalize text-center">Recovered</h2>
        <div class="card-body mx-lg-5 mx-md-3 mx-sm-2 px-0">
          <app-line-chart [lineChartData]="timeseriesRecovered"> </app-line-chart>
        </div>
      </div>
    </div>
  </div>
</div>
