.chart-container {
  max-width: 1100px;
  overflow-x: auto;
  .chart-responsive {
    height: 300px;
    /* Make lines in line chart thick, with rounded ends */
  }
}

/* Make lines in line chart thicker */
::ng-deep ngx-charts-line-chart g.line-chart > g:last-of-type > g:nth-child(n) g.line-series > path {
  stroke-width: 4;
  stroke-linecap: round;
}
