<nav class="sidebar-nav">
  <ul id="sidebarnav">
    <!-- First level menu -->
    <li class="sidebar-item" *ngFor="let sidebarnavItem of sidebarnavItems" routerLinkActive="active">
      <a
        class="sidebar-link"
        [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"
        [ngClass]="[sidebarnavItem.class]"
        routerLinkActive="active"
      >
        <i [ngClass]="[sidebarnavItem.icon]"></i>
        <span class="hide-menu ml-2">{{ sidebarnavItem.title }}</span>
      </a>
    </li>
  </ul>
</nav>
